body {
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.54);
}

button {
  border: 0;
  background: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #009688;
  padding: 0;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:hover {
    text-decoration: underline;
  }
}

.photo {
  width: 100%;
  height: 100%;
  object-position: center center;
  object-fit: contain;
  background-color: rgba(0, 0, 0, 0.25);
}

.icon {
  height: 100%;
  width: 100%;
  display: inline-block;
  background-repeat: no-repeat no-repeat;
  background-position: center;

  &.-search {
    background-image: url(~/assets/img/icons/search.svg);
  }
}

.divider {
  height: 3px;
  min-width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.12);

  &.-transparent {
    border-color: transparent;
  }
}
